<div style="height: 10rem;"></div>
<!-- Description -->
<div class="cards-1" style="background-color: #f3f7fd;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <!-- <div class="above-heading">ABOUT US</div> -->
                <h2 class="h2-heading decoration-heading"> About Us</h2>
                <p style="margin: 1rem; max-width: 600px; margin-left: auto;margin-right: auto;">
                    TutoringPark is a leading global education group at the heart of British, American & IB education
                    system and beyond. We combine the best of tradition and innovation to foster academic excellence and
                    support students at every step of their education journeys.

                </p>
                
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description --><div style="height: 10rem;"></div>