<div class="blob-container">
  <div class="blob-img-container">
    <img
      src="../images/imgs/bestTutor.webp"
      alt="about"
      style="object-position: top"
    />
  </div>
  <div class="blob-text-container">
    <h1 class="blob-text-heading homepage-heading">
      Best tutors and expert support
    </h1>
    <p class="blob-text-paragraph">
      Your personal dream team includes a stellar tutor and a program manager to
      ensure your success. The tutor helps you master the material; your program
      manger helps make sense of the rest (new digital tests, super scoring, and
      test- optional policies).
    </p>
  </div>
</div>
