<div class="description-contianer">
  <h2 class="homepage-heading">
    Digital-first, personalized tutoring and test prep.
  </h2>
  <p class="description-contianer-p">
    Tutoring was born online. We bring the best experts to your computer screen
    for a less stressful, more effective tutoring experience.
  </p>

  <div class="services-container">
    <div class="services-inner-container">
      <img
        src="../images/icons/easyToUse.png"
        alt="icon"
        class="service-icon"
      />
      <h3 class="service-title">Easy to use</h3>
      <div style="color: black" class="service-desc">
        The material is hard enough to master. Make tutoring easy. With Tutoring
        Park, connecting with your tutor is as simple as opening your laptop.
      </div>
    </div>
    <div class="services-inner-container">
      <img
        src="../images/icons/beyondTextbook.png"
        alt="icon"
        class="service-icon"
      />
      <h3 class="service-title">Beyond Textbook</h3>
      <div style="color: black" class="service-desc">
        The time for one-size-fits-all textbooks is over. We use sophisticated
        data to select from hundreds of digitized lessons deliver exactly what
        you need.
      </div>
    </div>
    <div class="services-inner-container">
      <img src="../images/icons/tracking.png" alt="icon" class="service-icon" />
      <h3 class="service-title">Tracking & Transparency</h3>
      <div style="color: black" class="service-desc">
        You'll receive detailed lesson notes, homework stats, and practice exam
        reports every step of the way. Plus, our online portal will keep you in
        the loop
      </div>
    </div>
  </div>
</div>
