
        <!-- Features -->
        <div id="features" class="tabs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="above-heading">Descriptions</div> -->
                        <h2 class="h2-heading decoration-heading">Services we Provide</h2>
                        <!-- <p class="p-heading">Take your business strategy to the next level and automatize your marketing
                            tasks to save time for product development. Tivo can provide results in less than 2 weeks
                        </p> -->
                        <div style="height: 5rem;"></div>

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                                    aria-controls="tab-1" aria-selected="true"><i class="fas fa-graduation-cap"></i>Academic Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                                    aria-controls="tab-2" aria-selected="false"><i
                                        class="fas fa-award"></i>Test Preps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                                    aria-controls="tab-3" aria-selected="false"><i
                                        class="fas fa-book-reader"></i>Languages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-4" data-toggle="tab" href="#tab-4" role="tab"
                                    aria-controls="tab-4" aria-selected="false"><i
                                        class="fas fa-school"></i>Assignments</a>
                            </li>
                        </ul>

                
                        <!-- end of tabs links -->

                        <!-- Tabs Content -->
                        <div class="tab-content" id="argoTabsContent">

                            <!-- Tab -->
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <div class="row ">
                                    <div class="col-md-6"><div class="image-container">
                                        <img class="img-fluid img-shadow" src="images/imgs/academic_support.jpg" alt="alternative">
                                    </div></div>
                                    
                                         <!-- <img class="col-md-6 img-shadow" src="images/imgs/academic_support.jpg"   alt="alternative"> -->
                                          
                                   
                                    
                                    <div class="col-md-6">
                                        <div class="text-container">
                                            <h3>Academic tutoring and coaching for today’s student</h3>
                                            <p>Boost your long-term success with world-class digital tutoring and coaching, customized for you.</p>
                                            <ul class="list-unstyled li-space-lg">
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">IGCSE | GCSE</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">IB PYP|MYP | DP SL|HL</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">SABIS</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">AP</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">CBSE</div>
                                                </li>
                                                <!-- <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">Assignment Help</div>
                                                </li> -->
                                            </ul>
                                            <h3>Have any Question?</h3>
                                            <p>Ready to start with a free online Session?</p>
                                            <a class="btn-solid-reg page-scroll" href="#message">Send Us Message</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <div class="row">
                                    <div class="col-md-6"><div class="image-container">
                                        <img class="img-fluid img-shadow" src="images/imgs/img_ (2).png" alt="alternative">
                                    </div></div>
                                        
                                    
                               
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>Let’s reinvent test prep together.</h3>
                                            <p>Building the next generation of test prep is as exciting as it is rewarding, but we can’t do it alone.</p>
                                            <ul class="list-unstyled li-space-lg">
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">SAT-1, SAT-2</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">EMSAT</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">GAT</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">GRE</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">IELTS</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">TOFEL</div>
                                                </li>
                                            </ul>
                                            <h3>Have any Question?</h3>
                                            <p>Ready to start with a free Session?</p>
                                            <a class="btn-solid-reg page-scroll" href="#message">Send Us Message</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                                <div class="row">
                                    <div class="col-md-6"><div class="image-container">
                                        <img class="img-fluid img-shadow" src="images/imgs/language.png" alt="alternative">
                                    </div></div>
                                        
                                      
                                            <!-- <img class="col-md-6 img-shadow" src="images/imgs/language.png"  alt="alternative"> -->
                                 
                               
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>Learn top Cultural Languages</h3>
                                            <p>Lessons with dialogues, drills, exercises, and narratives will teach you the basics of language spoken. Includes samples of speech, explanations of basic language structures, and a variety of practical exercises.</p>
                                            <ul class="list-unstyled li-space-lg">
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">Arabic</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">English</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">Spanish</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">French</div>
                                                </li>
                                            </ul>
                                            <h3>Have any Question?</h3>
                                            <p>Ready to start with a free Session?</p>
                                            <a class="btn-solid-reg page-scroll" href="#message">Send Us Message</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                               <!-- Tab -->
                               <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
                                <div class="row">
                                   
                                    <div class="col-md-6"><div class="image-container">
                                        <img class="img-fluid img-shadow" src="images/imgs/img_ (3).png" alt="alternative">
                                    </div></div>
                                           <!-- <img class="col-lg-6  img-shadow"  src="images/imgs/img_ (3).png"> -->
                                 
                               
                                    <div class="col-lg-6">
                                        <div class="text-container">
                                            <h3>Assignments Help</h3>
                                            <p>Assignment Helper Online is a leading online assignment help service provider. you can get your assignment done quickly and easily. We can help you with any type of assignment, from simple to complex. The website has a team of experienced and qualified professionals who are available 24/7 to help students with their assignments.</p>
                                            <ul class="list-unstyled li-space-lg">
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">College</div>
                                                </li>
                                                <li class="media">
                                                    <i class="fas fa-square"></i>
                                                    <div class="media-body">University</div>
                                                </li>
                                               
                                            </ul>
                                            <h3>Have any Question?</h3>
                                            <p>Ready to start with a free Session?</p>
                                            <a class="btn-solid-reg page-scroll" href="#message">Send Us Message</a>
                                        </div> <!-- end of text-container -->
                                    </div> <!-- end of col -->
                                </div> <!-- end of row -->
                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->

                        </div> <!-- end of tab content -->
                        <!-- end of tabs content -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of tabs -->
        <!-- end of features -->



        
    
	<!-- <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox.png" alt="alternative">
                    </div> 
                </div> 
                <div class="col-lg-4">
                    <h3>List Building</h3>
                    <hr>
                    <h5>Core service</h5>
                    <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">User administration</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> 
            </div> 
        </div> 
    </div> 


	<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox.png" alt="alternative">
                    </div> 
                </div> 
                <div class="col-lg-4">
                    <h3>Campaign Monitoring</h3>
                    <hr>
                    <h5>Core service</h5>
                    <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">User administration</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> 
            </div> 
        </div> 
    </div> 


	<div id="details-lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <div class="image-container">
                        <img class="img-fluid" src="images/details-lightbox.png" alt="alternative">
                    </div> 
                </div>
                <div class="col-lg-4">
                    <h3>Analytics Tools</h3>
                    <hr>
                    <h5>Core service</h5>
                    <p>It's very easy to start using Tivo. You just need to fill out and submit the Sign Up Form and you will receive access to the app.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">List building framework</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Easy database browsing</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">User administration</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Automate user signup</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Quick formatting tools</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i><div class="media-body">Fast email checking</div>
                        </li>
                    </ul>
                    <a class="btn-solid-reg mfp-close" href="sign-up.html">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
                </div> 
            </div> 
        </div>
    </div>  -->