          <div class="one-on-one-container">
            <div class="one-on-one-img-container">
              <img src="../images/imgs/one_on_one.webp" alt="intro" />
            </div>
            <div class="blob-text-container">
              <h1 class="blob-text-heading homepage-heading">
                One-on-one tutoring, anytime, anywhere.
              </h1>
              <div class="blob-text-paragraph">
                <span>
                  Tutoring Park gives students and families the flexibility they
                  need to fit world-class tutoring into their busy schedules.
                </span>
                <ul class="list-unstyled li-space-lg" style="margin-top: 20px;text-align: left;">
                  <li class="media">
                    <i class="fas fa-square bullets"></i>
                    <div class="media-body">
                      Choose when, where, and how you meet.
                    </div>
                  </li>
                  <li class="media">
                    <i class="fas fa-square bullets"></i>
                    <div class="media-body">
                      Experience cutting-edge technology that’s better than
                      meeting in person.
                    </div>
                  </li>

                  <li class="media">
                    <i class="fas fa-square bullets"></i>
                    <div class="media-body">
                      Access the world’s best tutors no matter where you live.
                    </div>
                  </li>

                  <li class="media">
                    <i class="fas fa-square bullets"></i>
                    <div class="media-body">
                      Work in comfort right from your home, boarding school, or
                      favorite study spot.
                    </div>
                  </li>
                </ul>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
