<!-- <div class="private-online-tutoring">
  <div class="container">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-lg-6 d-flex justify-content-center text-center">
        <div class="text-container">
          <div class="private-online-tutoring-title">
            Home Tutoring in UAE, Qatar, Kuwait, KSA, Oman, UK & Hong Kong
          </div>
          <a class="btn-solid-reg page-scroll" href="#message"
            ><i class="fas fa-home"></i> Private Tutoring</a
          >
        </div>
      </div>

      <div class="col-lg-6 d-flex justify-content-center text-center">
        <div class="text-container">
          <div class="private-online-tutoring-title">
            Take your Free online Trial class!
          </div>
          <a class="btn-solid-reg page-scroll" href="#message"
            ><i class="fas fa-user-alt"></i> Online Tutoring</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="private-tutoring-online">
    <a href="#message">
  <div class="private-tutoring-inner-container">
      <i class="fas fa-home home-icon"></i>
      <h3>Home Tutoring</h3>
      <h6>UAE, Qatar, Kuwait, KSA, Oman, UK & Hong Kong</h6>
    </div>
</a>
<a href="#message">
  <div class="private-tutoring-inner-container">
      <i class="fas fa-user-alt user-icon"></i>
      <h3>Online Tutoring</h3>
    </div>
</a>
</div>
