<div class="blob-container">
  <div class="blob-img-container">
    <img src="../images/imgs/aboutImg.webp" alt="about" />
  </div>
  <div class="blob-text-container">
    <h1 class="blob-text-heading homepage-heading">About us</h1>
    <p class="blob-text-paragraph">
      TutoringPark is a leading global education group at the heart of British,
      American & IB education system and beyond. We combine the best of
      tradition and innovation to foster academic excellence and support
      students at every step of their education journeys.
    </p>
    <h3 class="blob-text-bottom-text">
      Find the certified tutor from just $14/hour.
    </h3>
  </div>
</div>
