<section class="testimonials">
  <!-- <div class="left-testimonials-btn owl-nav">
    <img src="../images/icons/arrowIcon.png" alt="icon" class="owl-prev" />
  </div>
  <div class="right-testimonials-btn owl-nav">
    <img src="../images/icons/arrowIcon.png" alt="icon" class="owl-next" />
  </div> -->
  <!-- <button type="button" role="presentation" class="owl-prev">proev</button> -->

  <div class="wrapper" style="margin: auto; width: 90vw">
    <div class="row">
      <div class="col-sm-12">
        <div id="testimonials-list" class="owl-carousel">
          <div class="item">
            <div class="my-item">
              <div class="shadow-effect">
                <p class="carousel-text">
                  Tutoring park online sessions and other tools allowed us to
                  open up the internet for our kids so they may explore it,
                  learn from it, and most importantly, build smart and practical
                  habits when it comes to using it.
                  <br />
                  <span> Parent of two boys in year 7 and 11</span>
                  <br />
                  <span> Doha </span>
                </p>
                <div class="testimoninal-circle-div">
                  <img src="../images/icons/invertedCommas.PNG" alt="icon" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="my-item">
              <div class="shadow-effect">
                <p class="carousel-text">
                  Well, the lessons with Aisha are going amazingly well. I am
                  enjoying them and learning a lot!
                  <br />
                  <span> Parent of a Y12 English </span>
                  <br />
                  <span> Language and literature <br />student. </span>
                  <br />
                  <span> Hong Kong </span>
                </p>
                <div class="testimoninal-circle-div">
                  <img src="../images/icons/invertedCommas.PNG" alt="icon" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="my-item">
              <div class="shadow-effect">
                <p class="carousel-text">
                  I went from a C in year 12 to an A for my Alevels. One of my
                  problems with geometry was that i was’nt confident. Mr. Salah
                  helped me find a revision technique that worked well. I’m
                  truly grateful . I don’t think i would’ve done as well <br />
                  without <her class="br"> </her> Thank you! Salah
                  <br />
                  <span> AP student </span>
                  <br />
                  <span> Doha </span>
                </p>
                <div class="testimoninal-circle-div">
                  <img src="../images/icons/invertedCommas.PNG" alt="icon" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="my-item">
              <div class="shadow-effect">
                <p class="carousel-text">
                  Mr. Josh is super intelligent and lucid and understands the
                  exam boards in great deal. He was a huge help to my daughter,
                  who had’nt really learned how to construct an essay at all, in
                  all her school years. With Josh’s help, she was able to do
                  this. He is empathetic, sympathetic and encouraging. I would
                  recommend him without reservation.
                  <br />
                  <span> Parent of IGCSE year 11 student</span>
                  <br />
                  <span> Hong Kong </span>
                </p>
                <div class="testimoninal-circle-div">
                  <img src="../images/icons/invertedCommas.PNG" alt="icon" />
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="my-item">
              <div class="shadow-effect">
                <p class="carousel-text">
                  Ms. Maliha is a distinguished tutor. She has tutored me in
                  Literature since L6 when I got B in boarding school. Finally,
                  I was awarded an A* in the GCE A level result. Thanks, Maliha!

                  <br />
                  <span>A-level Student</span>
                  <br />
                  <span> Singapore </span>
                </p>
                <div class="testimoninal-circle-div">
                  <img src="../images/icons/invertedCommas.PNG" alt="icon" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
