<div class="tutoring-service-container">
  <h1 class="homepage-heading tutoring-services-heading">
    Our Tutoring Services
  </h1>
  <div class="tutoring-service-card-main-container">
    <div class="tutoring-service-card-main-inner-container">
      <a
        href="#message"
        class="tutoring-service-card-container"
        id="first-service-div"
      >
        <div class="tutoring-service-card-inner-container">
          <img
            id="first-icon"
            src="../images/icons/service-icon1.png"
            alt="icon"
            class="tutoring-service-card-icon"
          />
          <!-- <div class="academic-support-icon"></div> -->
          <div class="service-card-heading">Academic Support</div>
          <p class="service-card-paragraph">
            Boost your long-term success with world class digital tutoring and
            coaching, customized for you.
          </p>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">IGCSE / GCSE</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">
              IB Programmes: PYP / MYP
              <br />
              / DP (SL & HL)
            </div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">SABIS</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">AP</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">CBSE</div>
          </div>
        </div>
      </a>
      <a
        href="#message"
        class="tutoring-service-card-container"
        id="second-service-div"
      >
        <div class="tutoring-service-card-inner-container">
          <img
            id="second-icon"
            src="../images/icons/tests.png"
            alt="icon"
            class="tutoring-service-card-icon"
            style="width: 55px"
          />
          <div class="service-card-heading">Tests Preps</div>
          <p class="service-card-paragraph">
            Building the next generation of test prep is as exciting as it is
            rewarding, but we can't do it alone.
          </p>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">SAT-1, SAT-2</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">EMSAT</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">GAT</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">GRE</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">IELTS</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">TOFEL</div>
          </div>
        </div>
      </a>
      <a
        href="#message"
        class="tutoring-service-card-container"
        id="third-service-div"
      >
        <div class="tutoring-service-card-inner-container">
          <img
            id="third-icon"
            src="../images/icons/languages.png"
            alt="icon"
            class="tutoring-service-card-icon"
          />
          <div class="service-card-heading">Languages</div>
          <p class="service-card-paragraph">
            Lessons with dialogues, drills, exercises, narratives, spoken
            language, speech samples, basic language structures, and practical
            exercises.
          </p>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">English</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">French</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">Spanish</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">Arabic</div>
          </div>
        </div>
      </a>
      <a
        href="#message"
        class="tutoring-service-card-container"
        id="fourth-service-div"
      >
        <div class="tutoring-service-card-inner-container">
          <img
            id="fourth-icon"
            src="../images/icons/bookk.png"
            alt="icon"
            class="tutoring-service-card-icon"
          />
          <div class="service-card-heading">Assignments</div>
          <p class="service-card-paragraph">
            The website has a team of qualified professionals who are available
            24/7 to help students with their simple and complex assignments.
          </p>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">College</div>
          </div>
          <div class="service-card-courses-container">
            <div class="service-card-courses-bullet-point-icon"></div>
            <div class="service-card-courses">University</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
