<div class="slider-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="above-heading">Tutors</div>
                        <h2 class="h2-heading">Get to know us. Get to know us.</h2>
                        <div style="height:2rem ;"></div>
                        
                        <!-- Image Slider -->
                        <div class="slider-container">
                            <div class="swiper-container image-slider">
                                <div class="swiper-wrapper">


                                    <div class="swiper-slide">
                                       <div class="card-course"></div>
                                    </div>
                                      
                                   



                                </div> <!-- end of swiper-wrapper -->
                            </div> <!-- end of swiper container -->
                        </div> <!-- end of slider-container -->
                        <!-- end of image slider -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> 