<div class="blob-container"  style="margin-top: 5rem">
  <div class="blob-img-container">
    <img src="../images/imgs/mission.jpg" alt="tutor park" />
  </div>
  <div class="blob-text-container">
    <h1 class="blob-text-heading homepage-heading">Tutoring Park's mission</h1>
    <p class="blob-text-paragraph">
      TutoringPark follows a particular set of strategies to give its customers
      a great learning experience and achieve their academic goals. Know them
      all and join our tutoring platform to ace your grades! Our tutoring
      classes have proved to be highly productive and result oriented.
    </p>
  </div>
</div>
